*:not(input):not(textarea) {
  user-select: none;
}

.app-linear-gradient {
  background: linear-gradient(90deg, #717abe 0%, #5e60ce 100%);
}

a {
  text-decoration: none;
  color: inherit; /* Наследует цвет текста от родителя, а не синий по умолчанию */
}
